SERVIDOR/Docker/NodeRed/data/flows.json
[{"id":"b65610c31cd90972","type":"tab","label":"General","disabled":false,"info":"","env":[]},{"id":"c0d99e92e3414f7d","type":"tab","label":"Configuración de Base de Datos","disabled":false,"info":"","env":[]},{"id":"08f369820d5f409b","type":"tab","label":"Pluviómetro","disabled":false,"info":"# Pluviómetro","env":[]},{"id":"bfebe03d449d8e30","type":"ui_tab","name":"General","icon":"dashboard","order":2,"disabled":true,"hidden":false},{"id":"284a240931d36145","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9cd572751b2dd8b9","type":"ui_group","name":"Mediciòn Temperatura","tab":"bfebe03d449d8e30","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"86403cbab9c5bcfb","type":"telegram bot","botname":"EMASGCbot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","addressfamily":"","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"ca70cee35108395b","type":"mqtt-broker","name":"","broker":"docker-mosquitto-1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"188482eb62b49c74","type":"MySQLdatabase","name":"","host":"mysql","port":"3306","db":"nodered","tz":"","charset":"UTF8"},{"id":"ef86fa12f49d6610","type":"ui_tab","name":"V3","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"cdea3b400f1138bd","type":"ui_group","name":"Medición Acelerometros","tab":"bfebe03d449d8e30","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"dbf539f017ffee3e","type":"ui_group","name":"Medición Magnetometros","tab":"bfebe03d449d8e30","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"73a5c00898f070d9","type":"ui_group","name":"Pluviómetro","tab":"e9beccc2ab14368e","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b4e78de0de4f6dc3","type":"ui_group","name":"Medición Distancia","tab":"bfebe03d449d8e30","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bb9b44c54d88e575","type":"ui_group","name":"Envío Correo","tab":"bfebe03d449d8e30","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d46a6aa89299658d","type":"ui_group","name":"Envío Correo","tab":"ef86fa12f49d6610","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"08010342df037008","type":"ui_group","name":"Medición Calidad de Agua","tab":"ef86fa12f49d6610","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"234d855e40364df4","type":"ui_group","name":"Medición Distancia","tab":"ef86fa12f49d6610","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"e9beccc2ab14368e","type":"ui_tab","name":"Pluviómetro","icon":"dashboard","disabled":false,"hidden":false},{"id":"2338c43685e36db2","type":"mqtt in","z":"b65610c31cd90972","name":"","topic":"Distv3","qos":"2","datatype":"auto-detect","broker":"ca70cee35108395b","nl":false,"rap":true,"rh":0,"inputs":0,"x":50,"y":920,"wires":[["5631d75ced0aab0c","f788cb25dfa3beac","a79bfba5eb1eb8d4","03980fef8bf1a38e","3967c8c5d28bbe78","b033c4d751e30165"]]},{"id":"5631d75ced0aab0c","type":"ui_chart","z":"b65610c31cd90972","name":"","group":"234d855e40364df4","order":1,"width":0,"height":0,"label":"Distancia","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"80","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#097479","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":300,"y":960,"wires":[[]]},{"id":"f788cb25dfa3beac","type":"change","z":"b65610c31cd90972","name":"","rules":[{"t":"set","p":"Distv3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":840,"wires":[[]]},{"id":"a79bfba5eb1eb8d4","type":"ui_text","z":"b65610c31cd90972","group":"234d855e40364df4","order":2,"width":0,"height":0,"name":"","label":"Distancia","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":300,"y":920,"wires":[]},{"id":"7eb85fb07f45fef7","type":"mqtt in","z":"b65610c31cd90972","name":"pruebas","topic":"test","qos":"2","datatype":"auto-detect","broker":"ca70cee35108395b","nl":false,"rap":true,"rh":0,"inputs":0,"x":800,"y":900,"wires":[["c226844355a66472","94464dc2ef0a5148"]]},{"id":"c226844355a66472","type":"function","z":"b65610c31cd90972","name":"function 1","func":"global.set(\"pruebas\", msg.payload);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":920,"wires":[[]]},{"id":"94464dc2ef0a5148","type":"ui_text","z":"b65610c31cd90972","group":"9cd572751b2dd8b9","order":5,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":970,"y":880,"wires":[]},{"id":"d48015071e234501","type":"mqtt in","z":"b65610c31cd90972","name":"","topic":"Acelxv3","qos":"2","datatype":"auto-detect","broker":"ca70cee35108395b","nl":false,"rap":true,"rh":0,"inputs":0,"x":50,"y":720,"wires":[["eff3a187709abcce","e43b276cf2603edf","3b301886b577523f"]]},{"id":"64c032db691f76de","type":"mqtt in","z":"b65610c31cd90972","name":"","topic":"Acelyv3","qos":"2","datatype":"auto-detect","broker":"ca70cee35108395b","nl":false,"rap":true,"rh":0,"inputs":0,"x":50,"y":600,"wires":[["a59c496e459c8676","f153d8278dabf24e","114e6cbbe5dc1314"]]},{"id":"a599592ccd2fa47a","type":"mqtt in","z":"b65610c31cd90972","name":"","topic":"Acelzv3","qos":"2","datatype":"auto-detect","broker":"ca70cee35108395b","nl":false,"rap":true,"rh":0,"inputs":0,"x":50,"y":480,"wires":[["90841ba5220738e0","712004eb936dfb21","f3dc6df145d7881f"]]},{"id":"bbc45ea482d97ae1","type":"mqtt in","z":"b65610c31cd90972","name":"","topic":"Magxv3","qos":"2","datatype":"auto-detect","broker":"ca70cee35108395b","nl":false,"rap":true,"rh":0,"inputs":0,"x":610,"y":720,"wires":[["675f8622fc986226","8a5f63e50051cc80","4fc2a8f101417546"]]},{"id":"b19f870da9b49fc9","type":"mqtt in","z":"b65610c31cd90972","name":"","topic":"Magyv3","qos":"2","datatype":"auto-detect","broker":"ca70cee35108395b","nl":false,"rap":true,"rh":0,"inputs":0,"x":610,"y":600,"wires":[["75d12c548ba2790f","9d11b8fa55f221da","2652b99582e17a71"]]},{"id":"0dbd19d265711f1b","type":"mqtt in","z":"b65610c31cd90972","name":"","topic":"Magzv3","qos":"2","datatype":"auto-detect","broker":"ca70cee35108395b","nl":false,"rap":true,"rh":0,"inputs":0,"x":610,"y":480,"wires":[["e37f5654be490e46","a4aeb7d6e6c0e73a","565d2191eebd5d20"]]},{"id":"e6c58c2ef5d57f7f","type":"mqtt in","z":"b65610c31cd90972","name":"","topic":"Tempv3","qos":"2","datatype":"auto-detect","broker":"ca70cee35108395b","nl":false,"rap":true,"rh":0,"inputs":0,"x":610,"y":140,"wires":[["e15c7301de115bd4","4b26904429aacca1","1b5d375be084050a","791dc00b34ac8b16"]]},{"id":"d2c296a85cb20b4e","type":"mqtt in","z":"b65610c31cd90972","name":"","topic":"LoRav3","qos":"2","datatype":"auto-detect","broker":"ca70cee35108395b","nl":false,"rap":true,"rh":0,"inputs":0,"x":50,"y":200,"wires":[["1d9f0c138ec86117","941384d383dedc13","bde73a7a5c238641","44b390594260858d","ab63ecab680d60e8","2b98ccbd304f015b","b8e2a6db70c58563"]]},{"id":"eff3a187709abcce","type":"ui_text","z":"b65610c31cd90972","group":"cdea3b400f1138bd","order":2,"width":0,"height":0,"name":"","label":"Aceleracion eje x","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":330,"y":720,"wires":[]},{"id":"a59c496e459c8676","type":"ui_text","z":"b65610c31cd90972","group":"cdea3b400f1138bd","order":4,"width":0,"height":0,"name":"","label":"Aceleracion eje y","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":330,"y":560,"wires":[]},{"id":"90841ba5220738e0","type":"ui_text","z":"b65610c31cd90972","group":"cdea3b400f1138bd","order":6,"width":0,"height":0,"name":"","label":"Aceleracion eje Z","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":330,"y":440,"wires":[]},{"id":"675f8622fc986226","type":"ui_text","z":"b65610c31cd90972","group":"dbf539f017ffee3e","order":2,"width":0,"height":0,"name":"","label":"Magnetrometro eje x","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":900,"y":680,"wires":[]},{"id":"75d12c548ba2790f","type":"ui_text","z":"b65610c31cd90972","group":"dbf539f017ffee3e","order":4,"width":0,"height":0,"name":"","label":"Magnetrometro eje y","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":900,"y":560,"wires":[]},{"id":"e37f5654be490e46","type":"ui_text","z":"b65610c31cd90972","group":"dbf539f017ffee3e","order":6,"width":0,"height":0,"name":"","label":"Magnetrometro eje z","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":900,"y":440,"wires":[]},{"id":"e15c7301de115bd4","type":"ui_text","z":"b65610c31cd90972","group":"9cd572751b2dd8b9","order":1,"width":0,"height":0,"name":"","label":"Temperatura","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":870,"y":120,"wires":[]},{"id":"1d9f0c138ec86117","type":"ui_text","z":"b65610c31cd90972","group":"08010342df037008","order":1,"width":0,"height":0,"name":"","label":"LoRa","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":290,"y":160,"wires":[]},{"id":"4b26904429aacca1","type":"ui_chart","z":"b65610c31cd90972","name":"","group":"9cd572751b2dd8b9","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"15","ymax":"28","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":870,"y":80,"wires":[[]]},{"id":"1b5d375be084050a","type":"ui_gauge","z":"b65610c31cd90972","name":"","group":"9cd572751b2dd8b9","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":870,"y":200,"wires":[]},{"id":"941384d383dedc13","type":"ui_chart","z":"b65610c31cd90972","name":"","group":"08010342df037008","order":3,"width":0,"height":0,"label":"Calidad de agua","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"3000","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#097479","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#e32400","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":320,"y":200,"wires":[[]]},{"id":"e43b276cf2603edf","type":"ui_gauge","z":"b65610c31cd90972","name":"","group":"cdea3b400f1138bd","order":1,"width":0,"height":0,"gtype":"compass","title":"Aceleracion eje X","label":"units","format":"{{value}}","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":330,"y":680,"wires":[]},{"id":"bde73a7a5c238641","type":"ui_text","z":"b65610c31cd90972","group":"08010342df037008","order":2,"width":0,"height":0,"name":"","label":"Calidad de agua","format":"{{msg.payload}}","layout":"row-spread","className":"","style":true,"font":"Times New Roman,Times,serif","fontSize":"14","color":"#ffffff","x":320,"y":240,"wires":[]},{"id":"f153d8278dabf24e","type":"ui_gauge","z":"b65610c31cd90972","name":"","group":"cdea3b400f1138bd","order":3,"width":0,"height":0,"gtype":"compass","title":"Aceleracion eje Y","label":"units","format":"{{value}}","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":330,"y":600,"wires":[]},{"id":"712004eb936dfb21","type":"ui_gauge","z":"b65610c31cd90972","name":"","group":"cdea3b400f1138bd","order":5,"width":0,"height":0,"gtype":"compass","title":"Aceleracion eje Z","label":"units","format":"{{value}}","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":330,"y":480,"wires":[]},{"id":"8a5f63e50051cc80","type":"ui_gauge","z":"b65610c31cd90972","name":"","group":"dbf539f017ffee3e","order":1,"width":0,"height":0,"gtype":"compass","title":"Eje X","label":"units","format":"{{value}}","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":850,"y":720,"wires":[]},{"id":"9d11b8fa55f221da","type":"ui_gauge","z":"b65610c31cd90972","name":"","group":"dbf539f017ffee3e","order":3,"width":0,"height":0,"gtype":"compass","title":"Eje Y","label":"units","format":"{{value}}","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":850,"y":600,"wires":[]},{"id":"a4aeb7d6e6c0e73a","type":"ui_gauge","z":"b65610c31cd90972","name":"","group":"dbf539f017ffee3e","order":5,"width":0,"height":0,"gtype":"compass","title":"Eje Z","label":"units","format":"{{value}}","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":850,"y":480,"wires":[]},{"id":"d8d128a259019bb3","type":"mqtt in","z":"b65610c31cd90972","name":"","topic":"Pluvv3","qos":"2","datatype":"auto-detect","broker":"ca70cee35108395b","nl":false,"rap":true,"rh":0,"inputs":0,"x":810,"y":1000,"wires":[["567e7989839a1122"]]},{"id":"8be9f3689fbf27ec","type":"ui_text","z":"b65610c31cd90972","group":"08010342df037008","order":4,"width":0,"height":0,"name":"","label":"Hora de la última recepción:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":600,"y":260,"wires":[]},{"id":"44b390594260858d","type":"function","z":"b65610c31cd90972","name":"function 2","func":"const currentTime = new Date();\nconst hours = currentTime.getHours();\nconst minutes = currentTime.getMinutes();\nconst seconds = currentTime.getSeconds();\n\nconst colombiaTime = new Date().toLocaleString(\"en-US\", { timeZone: \"America/Bogota\" }).toString();\nconst colombiaTimeString = colombiaTime.toString();\nmsg.payload = colombiaTimeString;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":280,"wires":[["8be9f3689fbf27ec","f2af7e26914c465d"]]},{"id":"3b301886b577523f","type":"change","z":"b65610c31cd90972","name":"","rules":[{"t":"set","p":"Accelxv3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":760,"wires":[[]]},{"id":"114e6cbbe5dc1314","type":"change","z":"b65610c31cd90972","name":"","rules":[{"t":"set","p":"Accelyv3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":640,"wires":[[]]},{"id":"ab63ecab680d60e8","type":"change","z":"b65610c31cd90972","name":"","rules":[{"t":"set","p":"lorav3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":320,"wires":[[]]},{"id":"f3dc6df145d7881f","type":"change","z":"b65610c31cd90972","name":"","rules":[{"t":"set","p":"Accelzv3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":520,"wires":[[]]},{"id":"4fc2a8f101417546","type":"change","z":"b65610c31cd90972","name":"","rules":[{"t":"set","p":"Magxv3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":760,"wires":[[]]},{"id":"2652b99582e17a71","type":"change","z":"b65610c31cd90972","name":"","rules":[{"t":"set","p":"Magyv3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":640,"wires":[[]]},{"id":"565d2191eebd5d20","type":"change","z":"b65610c31cd90972","name":"","rules":[{"t":"set","p":"Magzv3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":520,"wires":[[]]},{"id":"791dc00b34ac8b16","type":"change","z":"b65610c31cd90972","name":"","rules":[{"t":"set","p":"Tempv3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":160,"wires":[[]]},{"id":"567e7989839a1122","type":"change","z":"b65610c31cd90972","name":"","rules":[{"t":"set","p":"Pluvv3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1000,"wires":[[]]},{"id":"03980fef8bf1a38e","type":"function","z":"b65610c31cd90972","name":"function 5","func":"const currentTime = new Date();\nconst hours = currentTime.getHours();\nconst minutes = currentTime.getMinutes();\nconst seconds = currentTime.getSeconds();\n\nconst colombiaTime = new Date().toLocaleString(\"en-US\", { timeZone: \"America/Bogota\" }).toString();\nconst colombiaTimeString = colombiaTime.toString();\nmsg.payload = colombiaTimeString;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1000,"wires":[["b8f3f03e9c7e1610","99fc1e1bea7c3077"]]},{"id":"b8f3f03e9c7e1610","type":"ui_text","z":"b65610c31cd90972","group":"234d855e40364df4","order":3,"width":0,"height":0,"name":"","label":"Hora de la última recepción:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":580,"y":980,"wires":[]},{"id":"3967c8c5d28bbe78","type":"ui_chart","z":"b65610c31cd90972","name":"","group":"b4e78de0de4f6dc3","order":1,"width":0,"height":0,"label":"Distancia","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"80","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#097479","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":520,"y":920,"wires":[[]]},{"id":"b033c4d751e30165","type":"ui_text","z":"b65610c31cd90972","group":"b4e78de0de4f6dc3","order":2,"width":6,"height":1,"name":"","label":"Distancia","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":300,"y":880,"wires":[]},{"id":"99fc1e1bea7c3077","type":"ui_text","z":"b65610c31cd90972","group":"b4e78de0de4f6dc3","order":3,"width":0,"height":0,"name":"","label":"Hora de la última recepción:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":580,"y":1020,"wires":[]},{"id":"f2af7e26914c465d","type":"ui_text","z":"b65610c31cd90972","group":"08010342df037008","order":4,"width":0,"height":0,"name":"","label":"Hora de la última recepción:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":600,"y":300,"wires":[]},{"id":"b8e2a6db70c58563","type":"ui_text","z":"b65610c31cd90972","group":"08010342df037008","order":2,"width":0,"height":0,"name":"","label":"Calidad de agua","format":"{{msg.payload}}","layout":"row-spread","className":"","style":true,"font":"Times New Roman,Times,serif","fontSize":"14","color":"#ffffff","x":320,"y":80,"wires":[]},{"id":"2b98ccbd304f015b","type":"ui_chart","z":"b65610c31cd90972","name":"","group":"08010342df037008","order":3,"width":0,"height":0,"label":"Calidad de agua","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"3000","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#097479","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#e32400","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":320,"y":120,"wires":[[]]},{"id":"b92bf60de3492653","type":"function","z":"c0d99e92e3414f7d","name":"Insertar Todo","func":"var prueba =global.get(\"accel\");\nvar accelx = global.get(\"Accelxv3\");\nvar accely = global.get(\"Accelyv3\");\nvar accelz = global.get(\"Accelzv3\");\nvar magx = global.get(\"Magxv3\");\nvar magy = global.get(\"Magyv3\");\nvar magz = global.get(\"Magzv3\"); \nvar lora = global.get(\"lorav3\");\nvar pluv = global.get(\"Pluvv3\");\nvar dist = global.get(\"Distv3\");\n\n\nmsg.topic = \"INSERT INTO sensador (id, fecha, acelx, acely, acelz, magx, magy, magz, LoRa, pluv, dist) VALUES ('ema', NOW(), '\" + accelx + \"', '\" + accely + \"', '\" + accelz + \"', '\" + magx + \"', '\" + magy + \"', '\" + magz + \"', '\" + lora + \"', '\" + pluv + \"', '\" + dist + \"');\";\n\n\nreturn msg;\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":120,"wires":[["67b764496d8a9f27"]]},{"id":"797e91ad32d69627","type":"inject","z":"c0d99e92e3414f7d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ejecutar","payloadType":"str","x":190,"y":160,"wires":[["94fc1042c288f379"]]},{"id":"94fc1042c288f379","type":"function","z":"c0d99e92e3414f7d","name":"Seleccionar todo","func":"\n//msg.topic = \"create table sensador (id VARCHAR(5), fecha VARCHAR(20), acelx VARCHAR(20), acely VARCHAR(20), acelz VARCHAR(20), magx VARCHAR(20), magy VARCHAR(20), magz VARCHAR(20), LoRa VARCHAR(20), pluv VARCHAR(20), dist VARCHAR(20));\";\nmsg.topic= \"select * from sensador\"\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":160,"wires":[["67b764496d8a9f27"]]},{"id":"087a273c07120186","type":"function","z":"c0d99e92e3414f7d","name":"Borrar Donde","func":"msg.topic = \"INSERT INTO emaMonitoreo.sensado (id, fecha, distancia, conductividad) VALUES('1', '2020-01-01 00:00:00', '36', '452');\"\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":200,"wires":[["67b764496d8a9f27"]]},{"id":"9c77f67690e46e42","type":"inject","z":"c0d99e92e3414f7d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"insertar","payloadType":"str","x":190,"y":200,"wires":[["087a273c07120186"]]},{"id":"fd2065e0f9674ebc","type":"inject","z":"c0d99e92e3414f7d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ejecutar","payloadType":"str","x":190,"y":240,"wires":[["1d5b6eb59cc4200e"]]},{"id":"1d5b6eb59cc4200e","type":"function","z":"c0d99e92e3414f7d","name":"Borrar tabla","func":"msg.topic =\"drop table sensador;\"; \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":240,"wires":[["67b764496d8a9f27"]]},{"id":"f4181b01ade8d376","type":"inject","z":"c0d99e92e3414f7d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ejecutar","payloadType":"str","x":190,"y":120,"wires":[["b92bf60de3492653"]]},{"id":"67b764496d8a9f27","type":"mysql","z":"c0d99e92e3414f7d","mydb":"188482eb62b49c74","name":"mysql","x":630,"y":180,"wires":[["e6136b37bddf0c0a"]]},{"id":"e6136b37bddf0c0a","type":"debug","z":"c0d99e92e3414f7d","name":"debug 7","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":180,"wires":[]},{"id":"d1a69f468e18a148","type":"mqtt in","z":"08f369820d5f409b","name":"Pluviometro","topic":"pluviometro","qos":"2","datatype":"auto-detect","broker":"ca70cee35108395b","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":120,"wires":[["251265344b469c1d"]]},{"id":"251265344b469c1d","type":"ui_chart","z":"08f369820d5f409b","name":"","group":"73a5c00898f070d9","order":3,"width":0,"height":0,"label":"Registro Pluviómetro","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"3000","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#097479","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#e32400","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":460,"y":120,"wires":[[]]}]